@charset "utf-8";
*{
    padding: 0;
    margin: 0;
}

.blue{
    background-color: #fbecb5;
    border: 5px #eddea9 solid;
    padding: 30px 20px 50px;
    margin: 20px;
}

header{
    background-color: antiquewhite;
}

header ul{
    position: absolute;
    right: 6vw;
    top: 0;
    line-height: 200px;
}
h1{
    position: absolute;
    left: 100px;
    top: 0;
    line-height: 120px;
    color: rgb(255, 255, 255);
    font-family: 'Caveat', cursive;
}

.menu a:hover{
    text-decoration: underline;
}

.menu a{
    color: azure;
    text-decoration: none;
}
.menu li{
list-style-type: none;
   color: azure;
   text-decoration: none;
   border: 2px solid #acacac;
   padding: 10px 20px;
   display: inline;
   border-radius: 7px;
   margin-right: 4vw;
}

.news h2{
    font-size: 48px;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
    font-family: 'Indie Flower', cursive;
}
.news p{
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 30px 0;
    font-family: 'Caveat', cursive;
    font-family: 'Indie Flower', cursive;
}

.news{
    background-color: antiquewhite;
    color: rgb(255, 254, 254);
    height: 100vh;
    background-image: url(images/咖啡廳.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Caveat', cursive;
    font-family: 'Indie Flower', cursive;
    
}
.product{ 
    display:flex;
    background-color: #ede9db; 
    align-items: center;
    justify-content: space-between;
    padding: 100px 180px 80px;
 }
.product div { 
    width: 90%;
    text-align: center;
}
.product img {
width: 90%; border-radius: 50px;;
}
.product h4{
    font-size: 23px;
    margin: 25px 0;
    font-family: 'Caveat', cursive;
}
.product p{
    font-size: 13px;
    line-height: 1.6em;
}
.product a{
    font-size: 17px;
    color: rgb(36, 61, 53);
}

.product a:hover {
    color:rgb(65, 133, 95)
}

   

footer{
    background-color: rgb(242, 237, 237);
    color: #0a0a0a;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.blue th
{
    border-collapse: collapse;
    width: 8em;
    background-color: rgb(241, 241, 241);
    text-align: left;
    margin-bottom: 30px;
    border: 1px solid #6a6968;
   
}
.blue caption{
    margin-bottom: 10px;
    
}
.blue input{
    width: 100px;
    margin: 0 1px;
    padding: 1px;
    font-size: 1em;
    

}
.blue [type="text"],
.blue [type="email"],
.blue textarea{
    width: 100%;
    padding: 6px;
    border: 1px solid #b7b2a1;
    box-sizing: border-box;
    font-size: 1em;
   
}

.blue [type="text"]:focus,
.blue [type="email"]:focus,
.blue textarea :focus{
    width: 100%;
    padding: 6px;
    border: 10px solid #b7b2a1;
    box-sizing: border-box;
    font-size: 1em;
    
}
label,
input,
textarea,
select{
    cursor: pointer;
}
.entryBtns{
    text-align: right;
}
.entryBtns input{
    width: 150px;
    margin: 0 10px;
    padding: 5px;
    font-size: 1em;
    border: 2px;
    border-radius: 20px;
}
.entryBtns input[type="submit"]{
    background-color: rgb(242, 195, 229);
}
.entryBtns input[type="reset"]{
    background-color: rgb(233, 210, 255);
}
.entryBtns input:hover{
    opacity: 0.7;
}
#contents {
    display: block;
    width: 798px;
    margin: 50px auto;
    padding: 40px 80px;
    border: 1px solid #ff640b;
    background-color: #feef64;
  }

  .p{
    font-family: 'Caveat', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lilita One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
  }